body {
  color: #3c3c3a !important;
  background-color: #f5f5f5;
}

p {
  text-align: justify;
}

.navbar-inverse {
  background-color: #131e25;
  border-color: #131e25;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #131e25;
  border-color: #131e25 !important;
}

hr.shaded {
  background: none;
}

a {
  color: #588bb3;
}

a:active {
  color: #447194;
}

.nav li {
  border: 0px;
  margin: 0px;
}

.nav li a:hover {
  background-color: #447194;
}

.nav > li.active > a {
    background-color: #447194;
}

.nav ul li > a:hover {
    background-color: #588bb3;
}

.nav ul li.active > a {
    background-color: #588bb3;
}

div#toc ul {
  background-color: #e8e8e7;
}

div#toc >ul::before {
  content: "Contenido";
}

footer {
  margin: 0px;
  margin-bottom: 40px;
  text-align: left;
}

h3,h4 {
  color: #0fa997;
}

.nav li a {
    background-color: #d8d8d7;
}


.btn {
    border-radius: 0px;
    text-transform: uppercase;
}

.btn .fa {
    font-size: 1.2em;
}

.summary {
  border-color: #f8a018;
}

.summary:before {
    content: "Resumen: ";
}

.go-top {
    position: fixed;
    bottom: 48px;
    right: 24px;
    color: #fff;
    background-color: #f9ae3b;
    font-size: 24px;
    width: 56px;
    height: 56px;
    padding: 16px;
    display: none;
    border-radius: 50px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.12);
    background-size: 200%;
    background-position: 50%;
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: 99;
}

.go-top:active, .go-top:focus, .go-top:hover {
    background-color: #f8a018;
    color: #fff;
}

.go-top, .go-top:focus, .go-top:hover {
    text-decoration: none;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table thead {
  vertical-align: middle;
}

table > thead > tr > th {
  color: #09af9b;
  background-color: #fff;
  font-weight: normal;
}
